<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register As a Help Provider</title>
</head>
<body>
<h4>Register as a Real Time Assistant!</h4>
<form action="{{ url_for('register',data='va') }}" method="POST" enctype="multipart/form-data">
    Phone Number : <input type="text" name="va_id" required><br>
    Name :  <input type="text" name="va_name" required><br>
    Address : <input type="text" name="va_address" maxlength="100" required><br>

    {% for i in cat %}
    <input type="checkbox" name="categories" value="{{ i[0] }}">{{ i[1] }}<br>
    {% endfor %}
    Enter Available Time:<br>
    <select name="day" size='1'>
	<option>Sun</option>
	<option>Mon</option>
	<option>Tue</option>
	<option>Wed</option>
	<option>Thu</option>
	<option>Fri</option>
	<option>Sat</option>
</select><br>
Start time:<br>
<input type="number" min=0 max=24 name="start_time_hr">:<input type="number" min=0 max=60 name="start_time_min"><br><br>
End time:<br>
<input type="number"  min=0 max=24 name="end_time_hr"><input type="number"  min=0 max=60 name="end_time_min"><br><br>
    <input type="Submit" name="Submit" value="Submit">
</form>
</body>
</html>