<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../static/index.css">
    <title>Home</title>
</head>
<body>
<!--<form action="" method="POST">
    <input value = "submit"  type="submit">
</form>
This is the home page.
-->
<div id="remote-media"></div>
<div id="controls">
  <div id="preview">
    <p class="instructions">Hi there</p>
    <div id="local-media"></div>
    <button id="button-preview">Preview My Camera</button>
  </div>
  <div id="room-controls">
    <p class="instructions">Room Name:</p>
    <input id="room-name" type="text" placeholder="Enter a room name" />
    <button id="button-join">Join Room</button>
    <button id="button-leave">Leave Room</button>
  </div>
  <div id="log"></div>
</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../static/index.js"></script>
</body>
</html>